# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Conocer algunos lenguajes más populares para la ciencia de datos
- Conocer algunas Bibliotecas más populares para la ciencvia de datos
- Realizar expresiones aritméticas

Some of the popular languages that Data Scientists use are:

1. R
2. SQL
3. Python
4. Java
5. Julia
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Seaborn
4. Matplotlib
5. Plotly
6. Scikit-Learn

|Data Science Tools|
|------------------|
Anaconda 
Scikit-Learn 
Tensor Flow

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

his will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author

Miguel Figueroa Pérez